In [0]:
#Code Snippet 18
from pyspark.sql import SparkSession #importing SparkSession
spark = SparkSession.builder.appName("MyFirstSparkSession").getOrCreate() #creating a Spark Session

In [0]:
# File location and type
file_location = "/FileStore/tables/employee.csv"
df = spark.read.csv(file_location,header=True) #reading the data without inferSchema parameter
df.show() #displaying the dataframe data

In [0]:
df.printSchema() #printing the schema of the datatype without inferSchema
df = spark.read.csv(file_location,header=True,inferSchema=True)
#reading the data with inferSchema parameter
df.printSchema() #printing the schema of the datatype with inferSchema
df.columns #getting the list of columns

In [0]:
df.select(['employee_name','age']).show()
df_renamed = df.withColumnRenamed('employee_name','name')
df_renamed.show()
df_newColumn = df.withColumn('empregado',df['employee_name'])
df_newColumn.show()
df_drop = df_newColumn.drop('employee_name')
df_drop.show()
df.columns

In [0]:
df.head(10)

In [0]:
#usando SQL com spark
df.createOrReplaceTempView("associates") #Creating a view called associates

sql_result_1 = spark.sql("Select * From associates") #Applying SQL query on associates
print("Showing the results of the select query")
sql_result_1.show()

In [0]:
sql_result_2 = spark.sql("SELECT * FROM associates WHERE age BETWEEN 45 AND 60 AND location='California'")
print("Showing the results after using Where clause in select query")
sql_result_2.show()

In [0]:
print("Usando Filtros")
df.filter("age > 50 and hours > 10").show()
print("ou")
df.filter((df["age"] > 50) & (df["hours"] > 10)).show()

In [0]:
#Trabalhando com dicion√°rios
result_filter = df.filter((df["location"]=="Washington")).collect() #collecting the record based on a condition
resulting_filter = result_filter[0]["location"] #fetching data from the collected result
print("The collected data point's date value is "+resulting_filter)
result_filter[0].asDict() #converting the result to a dictionary